<h3 class="login_id">Yalla & Locate your vacation's destination: </h3> 
<div class="nav">
	<%= form_for Property.new, :html => { :method => 'GET' }, :url => :properties_search do |f| %>
  		<div class="search_list"><%= f.text_field :destination, placeholder: 'Destination' %></div>
  		<div class="search_list"><%= f.number_field :number_of_rooms, placeholder: 'Number of Rooms' %></div>
  		<%= f.submit 'Search' %>
	<% end %>
</div>

